<body>
  
  <a href="/">index</a>
  <p></p>
  <a href="/about/">about</a>
  <h1>about me</h1>
  <h2>about my astor website</h2>

  <ul>
    <li><a href="/posts/post-1/">article 1</a></li>
  </ul>
</body>
